*{
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background: rgb(24, 23, 23);
}

/* MENU */
#menu {
    background-color: deepskyblue;
    height: 65px;
    
}

#logo {
    width: 150px;
    height: 35px;
    margin-top: 15px;
}

#sobre {
    margin-top: 10px;
    font-size: 25px;
}

#pacotes {
    margin-top: 10px;
    font-size: 25px;
}

#cidades {
    margin-top: 10px;
    font-size: 25px;
}

#carrinho {
    margin-top: 10px;
    font-size: 25px;
}

#login {
    margin-top: 10px;
    font-size: 25px;
}

.barra {
    margin-top: 10px;
}

.botao{
    background-color: rgba(0, 128, 0, 0);
    border: none;
}

.reg {
    border-bottom: 1px solid black;
}

.igu {
    border-bottom: 1px solid black;
}

.bar {
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

/* FIM MENU */


/* TELA LOGIN */
.borda {
    width: 700px;
    margin-top: 150px;
    border-radius: 10px ;
    border: 1px solid rgba(0, 0, 0, 0.197);
    background-color: rgba(255, 255, 255, 0.467);
    margin-bottom: 20px;
}

input {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;

}

button {
    border-radius: 10px;
    margin-bottom: 10px;
}
/* FIM TELA LOGIN */

/* FUNDO */
.fundo {
    height: 300px;
}
.tras {
    background-image: url('../img/bg.png');
}
/* FIM FUNDO */

/* FOOTER */
footer {
    border-top: 2px solid rgb(17, 152, 186);
    height: 200px;
    padding: 30px;
    background-color: rgb(15, 60, 112, 0.925);
    margin: 0px;
}

footer i {
    font-size: 30px;
    color: white    ;
}

#icon{
    padding: 10px;
}

footer p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.emcima {
    margin-bottom: 20px;
    margin-top: 20px;
}

.sociais {
    background-color: rgba(253, 47, 47, 0.925);
    border-radius: 5px;
}
.sociais a {
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: black;
}
/* FIM FOOTER */