*{
    font-family: 'Roboto Condensed', sans-serif;
}

/* MENU */
#menu {
    background-color: rgb(13, 194, 13);
    
}
.men:hover {
    background-color: rgb(27, 170, 27);
    height: 51px;
    transition: 2s;
}

#logo {
    width: 150px;
    height: 35px;
    margin-top: 9px;
}

#sobre {
    margin-top: 10px;
    font-size: 25px;
}

#pacotes {
    margin-top: 10px;
    font-size: 25px;
}

#cidades {
    margin-top: 10px;
    font-size: 25px;
}

#carrinho {
    margin-top: 10px;
    font-size: 25px;
}

#login {
    margin-top: 10px;
    font-size: 25px;
}

.barra {
    margin-top: 10px;
}

.botao{
    background-color: rgba(0, 128, 0, 0);
    border: none;
}

.reg {
    border-bottom: 1px solid black;
}

.igu {
    border-bottom: 1px solid black;
}

.bar {
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

/* FIM MENU */

/* PESQUISA */
.pesquisa {
    margin-top: 20px;
    width: 500px;
    margin-left: 300px;
}
/* FIM PESQUISA */

/* CAROUSEL */
.foto {
    margin-top: 20px;
    width: 600px;
    height: 500px;
    border-radius: 20px;
}
/* FIM CAROUSEL */

/* PLANOS */
#texto {
    margin-top: 40px;
    text-align: center;
}

.carta {

    margin-bottom: 20px;
}

.card-img-top{
    height: 200px; 
}

#tur {
    color: white;
    text-align: center;
    background-color: rgb(41, 162, 41);
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.titulo {
    margin-top: 20px;
    font-size: 35px;
}

.botton {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    height: 90px;
}

.ico {
    margin-right: 5px;
}

.dica {
    text-align: center;
}

/* FIM PLANOS */ 
/* FUNDO */
.fundo {
    height: 300px;
}
.tras {
    background-image: url('../img/bg.png');
}
/* FIM FUNDO */


/* FOOTER */
footer {
    border-top: 2px solid greenyellow;
    height: 200px;
    padding: 30px;
    background-color: rgb(2, 104, 2);
    margin: 0px;
}

footer i {
    font-size: 30px;
    color: white    ;
}

#icon{
    padding: 10px;
}

footer p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.emcima {
    margin-bottom: 20px;
    margin-top: 20px;
}

.sociais {
    background-color: rgba(253, 47, 47, 0.925);
    border-radius: 5px;
}
.sociais a {
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: black;
}
/* FIM FOOTER */